.iconsDiv {
  display: flex;
  align-items: center;
}

.icon:hover {
  cursor: pointer;
}

.indivActivity {
  margin: 10px 25px;
}

.indivActivity:hover {
  background-color: rgba(211, 211, 211, 0.178);
}

.title {
  margin: 0px 10px;
}

.iconR {
  margin: 0px 50px;
}

.iconR:hover {
  cursor: pointer;
}

.iconSpacing {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputs {
  width: 100%;
}

.inputs[type="text"] {
  border: 0;
  padding: 0;
  font-size: 16px;
  font-family: Times;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

/* .inputs:hover {
  border: 1px solid black;
} */

.activityInfo {
  padding-left: 25px;
  margin: 10px 0px;
}

.errors {
  padding: 0px 25px;
}