.button {
  margin: 15px 15px;
  background-color: #00a82d;
  border-radius: 3px;
  color: white;
  box-shadow: none;
  border: 0;
}

.button:hover {
  background-color: #008f26;
}

.container {
  display: inline-flex;
  width: 350px;
  height: 350px;
  text-align: center;
  padding: 25px;
  justify-content: center;
  align-items: center;
}

.exerciseList {
  width: 300px;
  height: 280px;
  text-align: left;
  overflow-y: scroll;
  margin: 10px 25px;
}

.indivExercise {
  margin: 5px;
}

.indivExercise:hover {
  background-color: lightgray;
  cursor: pointer;
}

.activityDetails {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.inputDivs {
  display: inline-flex;
  justify-content: space-between;
  width: 65%;
  margin: 10px;
}

.back {
  display: inline-flex;
  justify-content: left;
  width: 65%;
}

.icon:hover {
  cursor: pointer;
}