.container {
  padding: 25px;
  font-size: 20px;
}

.errors {
  font-size: 14px;
}

.Form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.input1,
.input2,
.input3 {
  margin: 10px 0px;
  font-family: Times;
}

.input2 {
  resize: none;
}

.input3 {
  resize: vertical;
  min-height: 36px;
  max-height: 170px;
}

.button {
  margin: 5px 0px;
  background-color: #00a82d;
  border-radius: 3px;
  color: white;
  box-shadow: none;
  border: 0;
}

.button:hover {
  background-color: #008f26;
}
