.title {
  display: flex;
  justify-content: space-between;
}

.input1,
.input2,
.input3 {
  width: 100%;
}

.input1[type="text"],
.input2[type="text"],
.input3[type='text'] {
  margin: 0;
  padding: 0;
  font-family: Times;
  border: 0;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

/* .input1:hover,
.input2:hover,
.input3:hover {
  border: 1px solid white;
} */

.input1 {
  font-size: 30px;
}

.input2,
.input3 {
  font-size: 16px;
}

.input3 {
  height: 60vh;
  resize: none;
}

.SingleExerciseContainer {
  margin-top: 40px;
  border: 1px gray solid;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  min-width: 565px;
  min-height: 80vh;
  color: white;
}

.button {
  margin: 0px 15px;
  background-color: #00a82d;
  border-radius: 3px;
  color: white;
  box-shadow: none;
  border: 0;
  width: 75px;
}

.button:hover {
  background-color: #008f26;
}

.Name {
  font-size: 30px;
}

.CaloriesTitle,
.NotesTitle {
  font-size: 22px;
  text-decoration: underline;
}

.CaloriesInfo,
.NotesInfo {
  font-size: 16px;
  text-decoration: none !important;
}

.NotesInfo {
  height: 60vh;
  overflow-y: scroll;
}