.alignRight {
  text-align: right;
}

.input {
  width: 100%;
}

.input[type="text"] {
  padding: 0;
  font-size: 16px;
  font-family: Times;
  border: 0;
}

.input:hover {
  border: 1px solid black;
}
