.navBarContainer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navBarButtonDiv {
    display: inline-flex;
}

.button {
    margin: 10px;
}

.demoButton {
    background-color: white;
    box-shadow: none;
    color: #00a82d;
    border: 2px solid #00a82d;
    border-radius: 3px;
}

.navLeft {
    display: inline-flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    font-size: 36px;
}