.hasAccountButton {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: white;
}

button:hover {
    cursor: pointer;
}

.Centered {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #1A1A1A;
    color: white;
    height: 100vh;
}

.title1,
.title2 {
    font-family: 'Libre Baskerville', serif;
    margin: 20px;
}

.title1 {
    font-size: 40px;
}

.title2 {
    font-size: 24px;
}

.signup {
    margin: 20px;
    width: 250px;
    height: 60px;
}

.homeImage {
    margin-top: 35px;
}